<app-dashboard></app-dashboard>
<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Form Elements</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cdk-drop>
        <div class="no-interaction" cdkDrag (cdkDragEntered)="dropped($event)">
        <mat-form-field>
          <input placeholder="mat input" matInput type="text">
        </mat-form-field>
        </div>

        <div class="no-interaction" cdkDrag
        [cdkDragData]="'select'">
        <mat-select placeholder="mat select">
          <mat-option>test</mat-option>
        </mat-select>
        </div>

        <div class="no-interaction" cdkDrag
        [cdkDragData]="'select'">
        <h2>Header</h2>
        </div>
      </cdk-drop>
      <cdk-drop (entered)="dropped($event)" 
                style="min-height: 100px; background: lightgreen; display: block;">
      </cdk-drop>
      </mat-card-content>

</mat-card>
 -->